@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700,300italic|Montserrat);
body, html {
  width: 100%;
  height: 100%;
  background: #FFF;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 1em; }

header {
  background-color: #363636;
  color: white; }

h1 {
  font-family: 'Montserrat', sans-serif; }

ul {
  list-style: none;
  padding-left: 0; }

.locationList .location {
  cursor: pointer; }

.navStuff {
  display: block;
  margin: auto;
  width: 50%;
  margin-top: 70px;
  background-color: gray;
  padding: 20px;
  color: white; }

.logotype {
  display: block;
  width: 40%;
  margin: 5% auto 5% auto; }

.rideInfo {
  font-size: 1.3em;
  margin-top: 30px;
  font-weight: 400; }
  .rideInfo ul {
    color: #F68438;
    font-size: 2em;
    font-size: 0;
    margin: 0; }
    .rideInfo ul li {
      font-size: 30pt;
      display: inline-block;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      padding: 20px; }
      .rideInfo ul li.halfWidth {
        width: 50%; }

li.halfWidth.ng-binding:nth-child(even) {
  text-align: left; }

li.halfWidth.ng-binding:nth-child(odd) {
  text-align: right; }

li span.small {
  font-size: 0.5em; }

.warning {
  width: 80%;
  margin: auto;
  color: #D62525;
  margin-top: 50px; }

.welcomeText {
  margin-top: 50px; }

.infoText {
  font-weight: 400;
  font-size: 1.1em;
  color: #155D8F;
  padding: 0% 5% 0% 5%; }

.info > img {
  padding-top: 10%; }

.projectName {
  background: #363636;
  color: #FFF;
  font-family: 'Ubuntu', sans-serif;
  padding: 2% 0% 2% 0%;
  text-align: center; }

.bottomButton,
.backButton {
  width: 100%;
  height: 50px;
  background: #ffa84c;
  background: #ffa84c;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ffa84c 0%, #ff7b0d 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #ffa84c 0%, #ff7b0d 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ffa84c 0%, #ff7b0d 100%);
  color: #FBE8DB;
  border: none;
  position: fixed;
  left: 0;
  bottom: 0px;
  padding: 0;
  margin: 0; }
  .bottomButton:focus,
  .backButton:focus {
    outline: none; }

.bottomButton.secondRow {
  bottom: 50px; }

.QRscanning {
  width: 100%; }

.QRscanning img {
  display: block;
  margin: auto;
  max-width: 80%; }

.procedureInfo {
  margin-bottom: 20px;
  font-family: 'Montserrat'; }

.wrapper {
  position: relative;
  height: 100%; }

#container {
  margin: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 5% 0 5%;
  text-align: center;
  height: 95%; }

img {
  max-width: 100%; }

.contain {
  padding-bottom: 50px; }

.containExtra {
  padding-bottom: 110px; }

.locationList {
  width: 100%;
  margin-left: 0px; }

.locationList > li {
  background: #FFF;
  margin-left: 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #FECDAC;
  padding: 0% 0% 4% 5%;
  font-size: 1.2em;
  text-align: left; }

.countDown,
.bikeBatteryStatus {
  text-align: center;
  font-size: 30px;
  color: #F68438;
  padding-top: 5%; }

.bikeBatteryStatus {
  color: #155D8F;
  font-size: 25px;
  padding-top: 0%; }

.largerText {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 35px;
  color: #F68438;
  padding: 5% 10% 0% 10%; }

.smallerText {
  font-style: italic;
  padding: 0% 2% 0% 2%;
  color: #155D8F;
  margin: 0;
  margin-bottom: 20px; }

.dark {
  color: #363636; }

.confirmButton {
  width: 50%;
  display: block;
  background: #F68438;
  color: #FBE8DB;
  border: none;
  padding: 0;
  margin: 0;
  height: 50px;
  float: left;
  background: #ffa84c;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ff9d36 0%, #ff7b0d 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #ff9d36 0%, #ff7bff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ff9d36 0%, #ff7b0d 100%); }
  .confirmButton:focus {
    outline: 0; }

.confirm {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; }

.yes {
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: #FC9D60;
  background: #ffa84c;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ff9d36 50%, #ff7b0d 200%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #ff9d36 50%, #ff7bff 200%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ff9d36 50%, #ff7b0d 200%); }

.almostBottom button.bottomButton {
  bottom: 50px;
  left: 0;
  position: fixed;
  width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #FECDAC; }

.rightAlignCircle {
  float: right;
  border-radius: 50%;
  padding: 8px;
  background-color: #F68438;
  color: #FBE8DB;
  text-align: center;
  font-size: 12px;
  min-width: 15px; }

#map {
  height: 350px; }

a {
  text-decoration: none;
  color: #F68438; }

.pretendButton {
  background: #ffa84c;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ffa84c 0%, #ff7b0d 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #ffa84c 0%, #ff7b0d 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ffa84c 0%, #ff7b0d 100%);
  width: 80%;
  display: block;
  padding: 20px;
  color: #FBE8DB;
  text-decoration: none;
  margin: 20px auto; }

@media screen and (min-width: 768px) {
  body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5% 0; } }
@media screen and (min-width: 768px) and (max-height: 500px) {
  body {
    padding: 1% 0; }

  .wrapper {
    font-size: 0.8em;
    max-width: 325px; } }
@media screen and (min-width: 768px) {
  .wrapper {
    overflow-y: auto;
    margin: auto;
    max-width: 350px;
    height: 960px;
    max-height: 100%;
    position: relative;
    background-color: white;
    -webkit-box-shadow: 0px 5px 45px -10px rgba(71, 71, 71, 0.4);
    -moz-box-shadow: 0px 5px 45px -10px rgba(71, 71, 71, 0.4);
    box-shadow: 0px 5px 45px -10px rgba(71, 71, 71, 0.4); }

  #container {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 20px;
    -webkit-box-sizing: border-box;
    moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 50px;
    min-height: 95%; }

  header {
    height: 5%; }

  .bottomButton,
  .backButton,
  .confirmButton,
  .confirm {
    bottom: 0;
    position: absolute; }

  .confirm {
    position: initial; }

  .confirmButton.yes {
    border-right: 1px solid #FECDAC;
    left: 0%; }

  .confirmButton {
    left: 50%; }

  .almostBottom button.bottomButton {
    position: absolute;
    bottom: 50px; } }
@media screen and (min-width: 768px) and (min-height: 800px) {
  .wrapper {
    max-width: 450px; } }
/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .wrapper {
    max-width: 400px; } }
@media screen and (min-width: 992px) and (max-height: 700px) {
  body {
    padding: 1% 0%; } }
@media screen and (min-width: 992px) and (min-height: 800px) {
  .wrapper {
    max-width: 450px; } }
@media screen and (min-width: 1200px) {
  .wrapper {
    max-width: 450px; }

  body {
    padding: 1% 0; } }
@media screen and (min-width: 1200px) and (min-height: 800px) {
  body {
    padding: 5% 0; } }

/*# sourceMappingURL=style.css.map */
