@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700,300italic|Montserrat);
$warningRed: #D62525;
$NUSorange: #F68438;
$mediumOrange: #FC9D60;
$lightOrange: #FECDAC;
$superLightOrange: #FBE8DB;
$darkBlue: #155D8F;
$white: #FFF;
$darkGray: #363636;

$buttonHeight: 50px;

@mixin standardBoxShadow(){
	-webkit-box-shadow: 0px 5px 45px -10px rgba(71,71,71,0.4);
	   -moz-box-shadow: 0px 5px 45px -10px rgba(71,71,71,0.4);
			box-shadow: 0px 5px 45px -10px rgba(71,71,71,0.4);
}

@mixin customBoxShadow($v1, $v2, $v3, $v4, $v5){
	-webkit-box-shadow: $v1 $v2 $v3 $v4 $v5;
	   -moz-box-shadow: $v1 $v2 $v3 $v4 $v5;
			box-shadow: $v1 $v2 $v3 $v4 $v5;
}

@mixin box-sizing($style){
	-webkit-box-sizing: $style;
	   -moz-box-sizing: $style;
	 	-ms-box-sizing: $style;
	  		box-sizing: $style;
}

@mixin fancyBackground(){
    background: rgb(255, 168, 76);
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(255, 168, 76, 1) 0%, rgba(255, 123, 13, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(255, 168, 76, 1) 0%, rgba(255, 123, 13, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(255, 168, 76, 1) 0%, rgba(255, 123, 13, 1) 100%);
}

@mixin fancyBackground-small($start, $stop){
    background: rgb(255, 168, 76);
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(255, 157, 54, 1) $start, rgba(255, 123, 13, 1) $stop);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(255, 157, 54, 1) $start, rgba(255, 123, 15713, 1) $stop);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(255, 157, 54, 1) $start, rgba(255, 123, 13, 1) $stop);
}

body, html {
    width: 100%;
    height: 100%;
    background: $white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 1em;
}

header {
    // background-color: black;
    background-color:$darkGray;
    color: white;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
    padding-left: 0;
}



.locationList .location {
    cursor: pointer;
}

.navStuff {
    display: block;
    margin: auto;
    width: 50%;
    margin-top: 70px;
    background-color: gray;
    padding: 20px;
    color: white;
}

.logotype {
    display: block;
    width: 40%;
    margin: 5% auto 5% auto;
}

.rideInfo {
    font-size: 1.3em;
    margin-top: 30px;
    font-weight: 400;
    ul {
        color: $NUSorange;
    	font-size: 2em;
    	font-size:0;
    	margin: 0;
    	li {
			font-size:30pt;
			display:inline-block;
			@include box-sizing(border-box);
			padding:20px;
    		&.halfWidth {
    			width:50%;
    		}
    	}
    }
}
li.halfWidth.ng-binding:nth-child(even){
	text-align:left;
}

li.halfWidth.ng-binding:nth-child(odd){
	text-align:right;
}

li span.small {
    font-size: 0.5em;
}

.warning {
    width: 80%;
    margin: auto;
    color: $warningRed;
    margin-top: 50px;
}

.welcomeText {
    margin-top:50px;
}
    
.infoText {
    font-weight: 400;
    font-size: 1.1em;
    color: $darkBlue;
    padding: 0% 5% 0% 5%;
}

.info > img {
    padding-top: 10%;
}

.projectName {
    background: $darkGray;
    color: $white;
    font-family: 'Ubuntu', sans-serif;
    padding: 2% 0% 2% 0%;
    text-align: center;
}

.bottomButton,
.backButton {
    &:focus {
        outline:none;
    }
    width: 100%;
    height: $buttonHeight;
    background: rgb(255, 168, 76);
    @include fancyBackground();
    color: $superLightOrange;
    border: none;
    position: fixed;
    left: 0;
    bottom: 0px;
    padding: 0;
    margin: 0;
}

.bottomButton.secondRow {
    bottom: $buttonHeight;
}

.QRscanning {
    width: 100%;
}

.QRscanning img {
    display: block;
    margin: auto;
    max-width: 80%;
}

.procedureInfo {
    margin-bottom: 20px;
    font-family: 'Montserrat';
}

.wrapper {
    position: relative;
    height:100%;
}

#container {
    // width: 90%;
    margin: auto;
    @include box-sizing(border-box);
    padding: 20px 5% 0 5%;
    // margin-top: 20px;
    text-align: center;
    // margin-bottom: $buttonHeight;
    height:95%;
}

img {
    max-width: 100%;
}

.contain {
    padding-bottom:$buttonHeight;
    // padding-bottom: 50px;
}

.containExtra {
    padding-bottom:$buttonHeight*2 + 10px;
    // padding-bottom: 110px;
}

.locationList {
    width: 100%;
    margin-left: 0px;
}

.locationList > li {
    background: $white;
    margin-left: 0px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: $lightOrange;
    padding: 0% 0% 4% 5%;
    font-size: 1.2em;
    text-align: left;
}

.countDown,
.bikeBatteryStatus {
    text-align: center;
    font-size: 30px;
    color: $NUSorange;
    padding-top: 5%;
}

.bikeBatteryStatus {
    color: $darkBlue;
    font-size: 25px;
    padding-top: 0%;
}

.largerText {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 35px;
    color: $NUSorange;
    padding: 5% 10% 0% 10%
}

.smallerText {
    font-style: italic;
    padding: 0% 2% 0% 2%;
    color: $darkBlue;
    margin:0;
    margin-bottom:20px;
}

.dark {
    color: $darkGray;
}

.confirmButton {
    &:focus{
        outline:0;
    }
    width: 50%;
    display: block;
    background: $NUSorange;
    color: $superLightOrange;
    border: none;
    padding: 0;
    margin: 0;
    height: $buttonHeight;
    float: left;
    @include fancyBackground-small(0%, 100%);
}

.confirm {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.yes {
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: $mediumOrange;
    @include fancyBackground-small(50%, 200%);
}

.almostBottom button.bottomButton {
    bottom: 50px;
    left: 0;
    position: fixed;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: $lightOrange;
}

.rightAlignCircle {
    float: right;
    border-radius: 50%;
    padding: 8px;
    background-color: $NUSorange;
    color: $superLightOrange;
    text-align: center;
    font-size: 12px;
    min-width: 15px;
}

#map {
    height: 350px;
}

a {
    text-decoration: none;
    color:$NUSorange;
}

.pretendButton {
    // background-color:$NUSorange;
    @include fancyBackground();
    width:80%;
    display: block;
    padding:20px;
    color:$superLightOrange;
    text-decoration: none;
    margin:20px auto;
}

@media screen and (min-width: 768px) {
    body {
        @include box-sizing(border-box);
        padding: 5% 0;
    }
    @media (max-height: 500px) {
        body {
            padding: 1% 0;
        }
        .wrapper {
            font-size:0.8em;
            max-width: 325px;
        }
        
    }
    .wrapper {
        overflow-y: auto;
        margin: auto;
        max-width: 350px;
        height: 960px;
        max-height: 100%;
        position: relative;
        background-color: white;
        -webkit-box-shadow: 0px 5px 45px -10px rgba(71, 71, 71, 0.4);
        -moz-box-shadow: 0px 5px 45px -10px rgba(71, 71, 71, 0.4);
        box-shadow: 0px 5px 45px -10px rgba(71, 71, 71, 0.4);
    }
    #container {
        position: relative;
        width: 100%;
        margin: 0;
        padding: 20px;
        -webkit-box-sizing: border-box;
        moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-bottom: 50px;
        min-height: 95%;
    }
    header {
        height: 5%;
    }
    .bottomButton,
    .backButton,
    .confirmButton,
    .confirm {
        bottom: 0;
        position: absolute;
    }
    .confirm {
        position: initial;
    }
    .confirmButton.yes {
        border-right: 1px solid $lightOrange;
        left: 0%;
    }
    .confirmButton {
        left: 50%;
    }
    .almostBottom button.bottomButton {
        position: absolute;
        bottom: 50px;
    }
    @media (min-height:800px){
        .wrapper{
            max-width:450px;
        }
    }
};

/* Medium devices (desktops, 992px and up) */

@media screen and (min-width: 992px) {
    .wrapper {
        max-width:400px;
    }
    @media (max-height:700px){
        body {
            padding:1% 0%;
        }
    }

    @media (min-height:800px){
        .wrapper{
            max-width:450px;
        }
    }

};

// /* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    .wrapper {
        max-width:450px;
    }

    body {
        padding: 1% 0;
    }

    @media (min-height:800px){
        body {
            padding:5% 0;
        }
    }
};

// @media screen and (min-width: 1500px){
//     .wrapper {
//         max-width:540px;
//     }
// }