<div class="contain">
    <div id="map"></div>
    <div id="displayDirections"></div>
	
	<div class="rideInfo">
		Unlock Bike Within
		<ul>
			<li class="halfWidth"> {{ timeleft.minutes }} <span class="small">min</span></li>
			<li class="halfWidth"> {{ timeleft.seconds }} <span class="small">sec</span></li>
		</ul>
	</div>
    <!-- <div class="countDown" ng-hide="timesUp()">You have {{ timeleft.minutes }} minutes and {{timeleft.seconds }} seconds left to unlock your bike
    </div> -->

    <div class="warning" ng-show="showWarning()">You failed to pick up your bike in time, sorry!</div>

</div>
<div class="confirm">
    <a ng-href="#/unlock">
        <button class="confirmButton yes">Unlock</button>
    </a>
    <button class="confirmButton" ng-click="confirmCancellation()">Cancel</button>
</div>