<div class="contain">
    <div id="map"></div>

    <ul class="locationList">
        <li class="location" ng-click="bookBike(location)" ng-repeat="location in locations | orderBy: 'distance'">
            <div class="infoBox">
                {{ location.name }} <span class="rightAlignCircle"> {{ location.availableBikes.length }}</span>
            </div>
        </li>
    </ul>
    <a ng-href="#/">
        <button class="backButton"><i class="fa fa-chevron-left"></i> Back
        </button>
    </a>
</div>