<div class="contain">
	<div id="map"></div>

    <ul class="locationList" ng-repeat="destination in destinations | orderBy: 'distance'">
        <li class="location" ng-click="bookReturnAt(destination)">
            <div class="infoBox">
                {{destination.name}}
                <span class="rightAlignCircle"> {{ destination.numSlots - destination.availableBikes.length }}</span></div>
        </li>
    </ul>
</div>

<a ng-href="#/">
    <button class="bottomButton"><i class="fa fa-chevron-left"></i> Cancel</button>
</a>