<div class="contain">
    <img src="img/logotype.png" alt="Awesome Logo" class="logotype" />
    <div class="welcomeText">
        <p class="infoText">Welcome to Ride NUS, the service which lets NUS students and staff borrow bikes, ride them on campus and then return them at their final destination. We have stands by the bus stations all over campus </p>
    </div>
</div>
<a ng-href="#/booking">
    <button class="bottomButton">Let's get started! <i class="fa fa-chevron-right"></i></button>
</a>