<div class="welcome" ng-show="showStartingpage('default')">
    <img src="img/logotype.png" alt="Awesome Logo" class="logotype" />
    <div class="welcomeText">
        Welcome to this cool app
    </div>
    <a ng-href="#/booking">
        <button class="bottomButton">Let's get started! <i class="fa fa-chevron-right"></i></button>
    </a>
</div>

<div class="mainConfirmation" ng-show="showStartingpage('userHasBooking')">
    <div class="mapContainer">Map goes here</div>
    <div class="countDown">Seven days...</div>
    <div class="confirm">
        <button class="confirmButton yes" ng-click="confirmCancellation()">Cancel</button>
        <a ng-href="#/unlock">
            <button class="confirmButton">Unlock</button>
        </a>
    </div>
</div>

<div class="rideInformation" ng-show="showStartingpage('ongoingRide')">
    <div class="countDown">You have this much time left...</div>
    <div class="bikeBatteryStatus">Your bike has {{ '10' }}% battery left</div>
    <div class="actionButtons confirm">
        <a ng-href="#/destinations">
            <button class="confirmButton yes">Book return station</button>
        </a>
        <a ng-href="#/return">
            <button class="confirmButton">Return bike without booking</button>
        </a>
    </div>
</div>