<div class="returnInformation" ng-hide="userNotRetarded()">
    <div class="info">
        Information for dummies about how to return a bike.
    </div>
    <div class="confirm">
        <a ng-href="#/navigation">
            <button class="confirmButton yes"><i class="fa fa-chevron-left"></i> Cancel</button>
        </a>
        <button class="confirmButton" ng-click="userIsRetarded(false)">Got it! <i class="fa fa-chevron-right"></i></button>
    </div>
</div>

<div class="QRscanning" ng-show="userNotRetarded()">
    <img src="img/QRscanningStuff.png" alt="QRscannignwing"/>
    <a ng-href="#/" ng-click="returnBike()">I am now pretending to scan a QR code</a>
    <div class="confirm">
        <button class="backButton" ng-click="userIsRetarded(true)"><i class="fa fa-chevron-left"></i> Cancel</button>
    </div>
</div>