<div class="contain">
    <img src="img/bikeIcon.png" style="width:40%">

    <div class="rideInfo" ng-show="timeLoaded()">
        <span ng-hide="showWarning()">Free time left</span>
        <ul ng-hide="showWarning()">
            <li class="halfWidth">{{ timeleft.minutes }} <span class="small">min</span> </li>
            <li class="halfWidth">{{ timeleft.seconds }} <span class="small">sec</span> </li>
        </ul>
        
        <div class="warning" ng-show="showWarning()">
            Your period of free usage has ended. You will now be charged {{ chargeRates }}$ per hour.   
        </div>
    </div>


    <div class="rideInfo" ng-show="timesUp()">
        Imposed Fee
        <ul>
            <li class="fullWidth">{{ imposedFee() }}$</li>
        </ul>
    </div>

    <div class="rideInfo" style="margin-bottom:20px">
        Remaining Battery
        <ul>
            <li class="fullWidth">{{ booking().bike.battery }}%</li>
        </ul>
    </div>

    <p class="smallerText dark" style="margin-top:30px;">If you want route directions or want to make sure that there is a free return station for you at your destination, please book a return station below. If not please ride the bike to your destination then return without booking below.</p>

    <div class="actionButtons confirm">
        <a ng-href="#/destinations">
            <button class="confirmButton yes">Book return station</button>
        </a>
        <a ng-href="#/return">
            <button class="confirmButton">Return bike without booking</button>
        </a>
    </div>
</div>
